<%#
  university = select[:university]
  
  label_id = :university_id
%>
<%#= label_tag label_id, label_text, :class => ('required' if select[:required]) %>


<%#- content_tag 'select',
  :name => "organisation" do -%>
<%#= options_for_select([], selected = nil)  %>
<%#- end -%>

<%#= render :partial => '' %>

<div id="new_university_div<%#= "_#{count}" if count %>" style="display:none;"><div>
<%#= label_tag id = "new", I18n.t('terms.university') %>
<div class="text"><%#= I18n.t 'helper' %></div>

