/* The following styles size and place the slide components.
   Edit them if you want to change the overall slide layout.
   The commented lines can be uncommented (and modified, if necessary) 
    to help you with the rearrangement process. */

div#header, div#footer, div.slide {width: 100%; top: 0; left: 0;}
div#header {top: 0; left: 0; z-index: 1;}
div#footer {top: auto; bottom: 0; width: 100%; z-index: 5;}
div.slide {top: 0; width: 88%; padding: 1em 7% 2em 5%; z-index: 2;}

#footer div#controls {bottom: 1.5em; left: 0; width: 100%; text-align: center; z-index: 1;}
div#controls form {margin: 0; padding: 0;}

#currentSlide {position: absolute; left: 0; bottom: 0.5em; z-index: 10;
  width: 100%; text-align: center;}
html>body #currentSlide {position: fixed;}

/*
div#header {background: #FCC;}
div#footer {background: #CCF;}
div#controls {background: #BBD;}
div#currentSlide {background: #FFC;}
*/
/* Following are the note styles -- edit away! */

body {
	margin: 0;
	padding: 1.0em;
	background: #333; 
	color: #FFF;
	font: 2em/1.4em 'Lucida Grande', Verdana, sans-serif;
}

div.timers {
	background: #FFF;
	color: #333;
	border: 0.08em solid #222;
	border-top-width: 1px;
	border-left-width: 1px;
	float: left;
	padding: 0.2em;
	margin: 0 0 0.5em;
	position: relative;
}

div.timers h1 {
	text-align: left;
	font-size: 0.6em;
	line-height: 1.4em;
	background-color: #FF9;
	padding: 0 0.75em;
	margin: 0.25em 0 0;
	border: 1px solid #EE8;
}

div.timers div.controls {
	position: absolute;
	right: 0.25em;
	top: 0.1em;
	line-height: 1em;
}

div.timers h1 a {
	text-decoration: none;
	color: #000;
}

div.timers div.controls a {
	font-size: 0.5em;
	padding: 0;
	color: #330;
}

div.timers a.control {
	position: absolute;
	text-decoration: none;
	padding: 0 0.25em;
	color: #AAA;
	outline: 0;
}

#minus {
	left: 0.25em;
}

#plus {
	right: 0.25em;
}

.overtime {
	background: yellow;
	color: red;
	border: 3px solid;
	padding: 0.1em 0.25em;
	font-weight: bold;
}

div.timers h2 {
	font-size: 0.6em;
	line-height: 1.0em;
	font-weight: normal;
	margin: 0 0 -0.25em;
	padding-top: 0.5em;
	color: #666;
}

div.timers p {margin: 0; padding: 0 0.5em;}
div.timers form {margin: 0;}

div.timers span.clock {
	font-family: monospace;
}

div.timers ul {margin: 0; padding: 0; list-style: none;}
div.timers li {float: left; width: 5em; margin: 0; padding: 0 0.5em;
  text-align: center;}

div#elapsed {width: 12.1em;}
div#remaining {clear: left; width: 12.1em;}
div#remaining p {text-align: center;}

#slide,
#next,
#notes,
#nextnotes {
	font-size: 0.75em;
	line-height: 1.4em;
	clear: left;
/*	max-width: 30.0em; */
	text-shadow: 0.1em 0.1em 0.1em #111;
}

#next {margin-top: 2.5em;}
#next, #nextnotes {
	color: #999;
	font-size: 0.66em;
}

em.disclaimer {
	color: #666;
}

div.collapsed h1 {display: block; font-size: 0.33em;}
div.collapsed h1 a {display: inline;}
div.collapsed * {display: none;}
/* DO NOT CHANGE THESE unless you really want to break Opera Show */
.slide {
	visibility: visible !important;
	position: static !important;
	page-break-before: always;
}
#slide0 {page-break-before: avoid;}
/* don't change this unless you want the layout stuff to show up in the outline view! */

.layout div, #footer *, #controlForm * {display: none;}
#footer, #controls, #controlForm, #navLinks, #toggle {
  display: block; visibility: visible; margin: 0; padding: 0;}
#toggle {float: right; padding: 0.5em;}
html>body #toggle {position: fixed; top: 0; right: 0;}

/* making the outline look pretty-ish */

#slide0 h1, #slide0 h2, #slide0 h3, #slide0 h4 {border: none; margin: 0;}
#slide0 h1 {padding-top: 1.5em;}
.slide h1 {margin: 1.5em 0 0; padding-top: 0.25em;
  border-top: 1px solid #888; border-bottom: 1px solid #AAA;}
#toggle {border: 1px solid; border-width: 0 0 1px 1px; background: #FFF;}
/* Following are the presentation styles -- edit away!
   Note that the 'body' font size may have to be changed if the resolution is
    different than expected. */

body {background: #95A7D4 url(bg-slide.jpg) 100% 100% no-repeat; color: #210; font: 29px Arial, sans-serif;}
a {text-decoration: none; color: #336; border-bottom: 1px dotted;}
h1, h2, h3, h4, h5, h6 {font-size: 1em; margin: 0;}
sup {font-size: 0.75em; font-weight: normal;
  vertical-align: 0.5em; line-height: 1px;}
ul {margin-left: 1em; padding-left: 0;}
li {margin-bottom: 0.66em;}
li li {margin: 0.33em 0; font-size: smaller;}

#header {background: url(bg-shade.png); border-bottom: 1px solid #333;
  padding-bottom: 2em;}
#footer {background: url(bg-shade.png); color: #BBB; border-top: 1px solid #333;}
#header, #footer {font-size: 0.5em;}
#footer h1, #footer h2 { padding: 0.5em 0.75em;
  font-weight: normal; font-style: italic;}
#footer h1 {left: 0; font-size: 1em; letter-spacing: 1px;}
#footer h2 {position: absolute; bottom: 0; right: 0;}

#controls a {display: none;}
#controls select {visibility: hidden;}
#controls div:hover select {visibility: visible;}

#currentSlide {font-size: 0.5em;}
#currentSlide span {font-size: 13px; color: rgb(49%,47%,66%);}
#currentSlide #csSep {display: none;}
#currentSlide #csHere {font-weight: bold;}
#currentSlide #csHere:before {content: "#"; font-weight: normal;}
#currentSlide #csTotal:before {content: " of ";}

.slide h1 {font-size: 1.66em; line-height: 1; letter-spacing: -1px;
  margin: 0 -15% 1em 0; padding: 0.25em 15% 0.06125em 0; border-bottom: 0.06125em solid rgb(90,94,120);}
#slide0 h1 {border: none; font-size: 2.25em; letter-spacing: 0; margin: 3em 0 1.5em;}
#slide0 h3 {margin-bottom: 0;}
#slide0 h4 {margin-top: 0; font-size: smaller;}
/* The following rule is necessary to have all slides appear in print! DO NOT REMOVE IT! */.slide, ul {page-break-inside: avoid; visibility: visible !important;}h1 {page-break-after: avoid;}body {font-size: 12pt; background: white;}* {color: black;}#slide0 h1 {font-size: 200%; border: none; margin: 0.5em 0 0.25em;}#slide0 h3 {margin: 0; padding: 0;}#slide0 h4 {margin: 0 0 0.5em; padding: 0;}#slide0 {margin-bottom: 3em;}h1 {border-top: 2pt solid gray; border-bottom: 1px dotted silver;}.extra {background: transparent !important;}div.extra, pre.extra, .example {font-size: 10pt; color: #333;}ul.extra a {font-weight: bold;}p.example {display: none;}#header {display: none;}#footer h1 {margin: 0; border-bottom: 1px solid; color: gray; font-style: italic;}#footer h2, #controls {display: none;}/* The following rule keeps the layout stuff out of print.  Remove at your own risk! */.layout, .layout * {display: none !important;}/* Do not edit or override these styles! The system will likely break if you do. */

div#header, div#footer, div.slide {position: absolute;}
html>body div#header, html>body div#footer, html>body div.slide {position: fixed;}
div.slide {visibility: hidden;}
#slide0 {visibility: visible;}
div#controls {position: absolute;}
#footer>div#controls {position: fixed;}
.handout {display: none;}
@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
@import url(pretty.css);  /* stuff that makes the slides look better than blah */